div {
    display: block;
    box-sizing: border-box;
}

div.header_large_border_first {
    border-bottom: 1px solid #0e1f21;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(5.49%, 12.16%, 12.94%, 1.00), rgba(5.49%, 12.16%, 12.94%, 0.84));
    color: #000;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;

    div.keyboard_s {
        background-image: linear-gradient(to right, rgba(5.49%, 12.16%, 12.94%, 1.00) 150px, rgba(5.49%, 12.16%, 12.94%, 0.84) 100%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        div.single_column {
            max-width: 1400px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;
            z-index: 0;
            box-sizing: border-box;

            section.images_inner {
                color: #fff;
                display: flex;
                flex-wrap: nowrap;

                div.poster_wrapper {
                    height: auto;
                    color: #fff;
                    border-width: 0px;
                    min-width: 300px;
                    width: 300px;
                    overflow: hidden;
                    border-radius: 8px;

                    div.poster {
                        color: #fff;
                        display: block;
                        min-width: 300px;
                        width: 300px;
                        height: 450px;
                        position: relative;
                        top: 0;
                        left: 0;

                        div.image_content {
                            color: #fff;
                            width: 100%;
                            min-width: 100%;
                            height: 100%;

                            img.poster_lazy_load {
                                display: block;
                                width: 100%;
                                min-width: 100%;
                                height: 100%;
                                min-height: 100%;
                                border-width: 0px;
                                outline: none;
                            }
                        }
                    }

                }

                div.header_poster_wrapper {
                    color: #fff;
                    display: flex;

                    section.header_poster {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        align-content: center;
                        box-sizing: border-box;
                        padding-left: 40px;
                        font-family: 'Source Sans Pro', Arial, sans-serif;
                        font-size: 1em;
                        -webkit-font-smoothing: antialiased;

                        div.title {
                            color: #fff;
                            width: 100%;
                            margin-bottom: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            unicode-bidi: isolate;

                            h2 {
                                margin-block-start: 0.83em;
                                margin-block-end: 0.83em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                                box-sizing: border-box;
                                font-weight: 600;
                                color: #fff;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                font-size: 2.2rem;
                                display: block;

                                a {
                                    color: #fff;
                                    font-weight: 700;
                                    text-decoration: none;
                                    background: transparent;
                                }

                                span.release_date {
                                    opacity: 0.8;
                                    font-weight: 400;
                                    color: #fff;
                                    font-size: 2.2rem;
                                }
                            }

                            div.facts {
                                display: flex;
                                color: #fff;
                                font-family: 'Source Sans Pro', Arial, sans-serif;
                                font-size: 1em;
                                -webkit-font-smoothing: antialiased;

                                span.release {
                                    color: #fff;
                                    font-family: 'Source Sans Pro', Arial, sans-serif;
                                    font-size: 1em;
                                    -webkit-font-smoothing: antialiased;
                                }

                                span.genres {
                                    padding-left: 20px;
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    color: #fff;
                                    font-family: 'Source Sans Pro', Arial, sans-serif;
                                    font-size: 1em;
                                    -webkit-font-smoothing: antialiased;

                                    a {
                                        color: #fff;
                                        text-decoration: none;
                                        font-weight: normal;
                                        background: transparent;
                                        font-family: 'Source Sans Pro', Arial, sans-serif;
                                        font-size: 1em;
                                        -webkit-font-smoothing: antialiased;
                                    }
                                }

                                span.runtime {
                                    padding-left: 20px;
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    color: #fff;
                                    font-family: 'Source Sans Pro', Arial, sans-serif;
                                    font-size: 1em;
                                    -webkit-font-smoothing: antialiased;
                                }
                            }
                        }

                        ul.auto_actions {
                            color: #fff;
                            margin-bottom: 20px;
                            width: 100%;
                            height: 68px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            list-style-type: none;
                            margin-block-start: 1em;
                            margin-block-end: 1em;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                            padding-inline-start: 40px;
                            font-family: 'Source Sans Pro', Arial, sans-serif;
                            font-size: 1em;
                            -webkit-font-smoothing: antialiased;

                            li.tooltip_use {
                                margin-right: 20px;
                                color: #fff;
                                display: list-item;
                                text-align: -webkit-match-parent;

                                a {
                                    box-sizing: border-box;
                                    background: rgba(3, 37, 65, 1);
                                    border-radius: 50%;
                                    width: 46px;
                                    height: 46px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    align-content: center;
                                    color: #fff;
                                    text-decoration: none;
                                    font-weight: normal;

                                    span {
                                        color: #fff;
                                        background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-159-thumbnails-list-white-c260ea972eebf812289fd3c41d0d2c1dff33ecbcd62be13fba8eeaf9de173789.svg');
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        min-width: 1em;
                                        min-height: 1em;
                                        width: 1em;
                                        height: 1em;
                                        line-height: inherit;
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        color: inherit;
                                        box-sizing: border-box;
                                    }
                                }
                            }

                            li.tooltip_use_second {
                                padding: 3px 0;
                                margin-right: 0;
                                color: #fff;
                                display: list-item;
                                text-align: -webkit-match-parent;

                                a {
                                    box-sizing: border-box;
                                    background: rgba(3, 37, 65, 1);
                                    border-radius: 50%;
                                    width: 46px;
                                    height: 46px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    align-content: center;
                                    color: #fff;
                                    text-decoration: none;
                                    font-weight: normal;

                                    span {
                                        color: #fff;
                                        background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-13-heart-white-28d2cc2d6418c5047efcfd2438bfc5d109192671263c270993c05f130cc4584e.svg');
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        min-width: 1em;
                                        min-height: 1em;
                                        width: 1em;
                                        height: 1em;
                                        line-height: inherit;
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        color: inherit;
                                        box-sizing: border-box;
                                        font-weight: normal;
                                    }

                                }
                            }
                        }

                        div.header_info {
                            color: #fff;
                            box-sizing: border-box;
                            width: 100%;
                            font-family: 'Source Sans Pro', Arial, sans-serif;
                            font-size: 1em;
                            -webkit-font-smoothing: antialiased;

                            h3.tagline {
                                box-sizing: border-box;
                                padding: 0;
                                box-sizing: border-box;
                                width: 100%;
                                margin: 0 0 8px 0;
                                color: #fff;
                                margin-bottom: 0;
                                font-size: 1em;
                                font-weight: 300;
                                font-style: italic;
                                opacity: 0.6;
                                margin-block-end: 15px;
                            }

                            h3 {
                                margin-block-start: 15px;
                                width: 100%;
                                margin: 0 0 8px 0;
                                color: #fff;
                                font-weight: 600;
                                font-size: 1.3em;
                                padding: 0;
                                box-sizing: border-box;
                                unicode-bidi: isolate;
                            }

                            div.overiview {
                                color: #fff;
                                font-family: 'Source Sans Pro', Arial, sans-serif;
                                font-size: 1em;
                                -webkit-font-smoothing: antialiased;

                                p {
                                    color: #fff;
                                    margin-bottom: 0;
                                    margin: 0;
                                    padding: 0;
                                    box-sizing: border-box;
                                    font-size: 1em;
                                    display: block;
                                    margin-block-start: 1em;
                                    margin-block-end: 1em;
                                    margin-inline-start: 0px;
                                    margin-inline-end: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}